/*
 * @Author: Emma Forslund - emfo2102 
 * @Date: 2022-06-04 18:43:44 
 * @Last Modified by: Emma Forslund - emfo2102
 * @Last Modified time: 2022-06-04 19:02:27
 */


/*Fonts från google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans:wght@500&display=swap');

/*Reset*/
html,
body,
ul,
ol,
button {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #efeeff;
}

header {
    background-color: #f6f7fb;
}

header h1 {
    font-size: 3.5rem;
    padding: 1rem;
    margin-top: 0;
}

nav a {
    text-decoration: none;
    font-size: 2.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #050062;
}

a:hover {
    font-weight: bold;
}

h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 2.8rem;
}

h3 {
    font-family: 'Heebo', sans-serif;
    font-size: 2.4rem;
}

p,
li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: #050062;
}

ul {
    list-style-type: none;
}

table {
    max-width: 1500px;
    width: 100%;
    border-collapse: collapse;
}

.table h3 {
    text-align: center;
}

th {
    font-family: 'Heebo', sans-serif;
    font-size: 1.8rem;
    border-bottom: 2px solid #efeeff;
    background-color: #753c5d;
    color: #f6f7fb;
}

tr {
    border-bottom: 1px solid #753c5d;
}

tr:hover {
    background-color: #cecaca;
}

td {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #050062;
    padding: 2rem;
    text-align: center;
}

form {
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    margin: 4rem auto;
    background-color: #f6f7fb;
    color: #050062;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form h2 {
    text-align: center;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: #050062;
    font-weight: bold;
}


select {
    max-width: 200px;
    width: 100%;
    padding: 1rem;
}

#form-drink {
    background-color: #fbecf4;
}

input[type=submit] {
    border: none;
    padding: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1.6rem;
    background-color: #030032;
    color: white;
}

input[type=submit]:hover {
    background-color: #bcb9e2;
}

textarea {
    margin-bottom: 4rem;
}

.food-td-hidden {
    display: none;
}

#login {
    max-width: 450px;
    width: 100%;
    margin: 12rem auto auto auto;
}

img {
    max-width: 100%;
}

#login input {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

#login-btn {
    margin: 2rem auto;
    display: block;
    max-width: 250px;
    width: 100%;
    background-color: #030032;
    color: #eeeeee;
    font-size: 1.8rem;
}

#login-btn:hover {
    background-color: #050062;
}

.error-p {
    color: #c80b0b;
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    background-color: white;
    border: 2px solid #c80b0b;
    padding: 1rem;
}

#message-output p {
    text-align: center;
    font-weight: bold;
}

.desktop-nav li {
    display: inline-block;
    margin-right: 3rem;
}

.desktop-nav ul {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
}

.start-flex {
    max-width: 1200px;
    display: flex;
    margin: auto;
}

.start-flex div {
    background-color: #f6f7fb;
}

/*Utskrift av meddelande från JS*/
#delete-output p,
#message-food,
#output-drink,
#deleted-menu {
    text-align: center;
    font-weight: bold;
}

.booking,
.menu {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

.required {
    color: #c40505;
}

button {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

.delete-drink-btn,
.delete-btn {
    background-color: #780000;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.delete-drink-btn:hover,
.delete-btn:hover {
    background-color: #df2525;
}

.edit-drink-btn,
.edit-btn {
    background-color: #780050;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.edit-drink-btn:hover,
.edit-btn:hover {
    background-color: #753c5d;
}

.booking h2 {
    text-align: center;
}

.menu h2 {
    text-align: center;
}

input[type=text],
input[type=email],
input[type=number],
input[type=email],
input[type=password],
textarea {
    max-width: 800px;
    width: 100%;
    padding: 0.5rem;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    border: 2px solid #efeeff;
    background-color: #f6f7fb;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex div {
    max-width: 800px;
    width: 100%;
    margin: 1rem;
}

.flex-btn {
    border-top: 1px solid #120e4c;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

/*Centrerar knapparna*/
.food-submit-btn,
.drink-submit-btn{
    margin: auto;
    max-width:250px;
    width: 100%;
}

#reset {
    background-color: #780000;
    color: #f6f7fb;
    border: none;
    padding: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#reset:hover {
    background-color: #c40505;
}

#submit-btn {
    background-color: #8dde68;
    color: black;
}

#submit-btn:hover {
    background-color: #518639;
}

#change-btn {
    background-color: #050062;
    color: white;
}

#change-btn:hover {
    background-color: #9491bc;
}

.table {
    margin-bottom: 5rem;
    overflow-x: auto;
}

table {
    background-color: #f6f7fb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#form-food select {
    max-width: 800px;
    width: 100%;

}

.index-section {
    max-width: 1000px;
    width: 100%;
    margin: 5rem auto;
    padding: 1rem 2rem;
    background-color: #f6f5f8;
}

.index-section a {
    color: #050062;
}

.index-section li {
    margin-top: 1rem;
}

.aktuellt {
    margin: auto;
    max-width: 800px;
    width: 100%;
    padding: 1rem;
}

#aktuellt {
    max-width: 1000px;
    width: 100%;
    margin: 5rem auto;
    padding: 1rem 2rem;
    background-color: #f6f5f8;
    border-top: 4px solid #753c5d;
}

#aktuellt h2 {
    text-align: center;
}


/*Footer*/

footer {
    background-color: #030032;
    padding: 1rem;
}

footer p {
    color: #dcdbee;
    text-align: center;
}

/*Media quiries för skärmar under 720px*/
@media only screen and (max-width: 720px) {
    .footer {
        position: static;
    }

    nav a {
        font-size: 1.8rem;
    }
}

/*Media quiries för skärmar under 630px*/
@media only screen and (max-width: 630px) {
    .desktop-nav ul {
        position: absolute;
        top: 8rem;
        left: 0;
        background-color: #f6f7fb;
        width: 100%;
        padding-bottom: 2rem;
        padding-top: 0.5rem;
    }

    .header {
        text-align: center
    }

    header {
        padding: 2rem;
    }

    main {
        margin-top: 6rem;
        padding: 1rem;
    }

    form{
        padding: 1rem;
    }
}

/*Media quiries för skärmar under 400px*/
@media only screen and (max-width: 400px) {
    nav a {
        font-size: 1.6rem;
    }
}